

.col1 {
  width: 200px;
}
.col2 {
  min-width: 100px;
}
.col3 {
  width: 300px;
}

.table{
    width: 100%;
    border: 2px solid #000000;

}
td, th {
    text-align: left;
    padding: 8px;
    border: 1px solid #000000;

  }

